.button {
  width: 204px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.primary-button {
  background-color: var(--primary-red);
  color: #ffffff;
}

.primary-button:hover {
  background-color: var(--primary-red-dark);
}

.secondary-button {
  color: var(--primary-red);
  background-color: #ffffff;
  border: solid 1px var(--primary-red);
}

.secondary-button:hover {
  color: var(--primary-red-dark);
  background-color: var(--grey-light);
  border: solid 1px var(--primary-red-dark);
}

.subscribe-success {
  color: #FFF;
  background-color: #000;
}

@media only screen and (max-width:768px) {
  .button {
    width: 100px;
    height: 46px;
    font-size: 14px;
  }
}