* {
  box-sizing: border-box;
}

:root {
  --primary-red: #E73C17;
  --primary-red-dark: #C22900;
  --text-grey: #6F6F6F;
  --grey-light: #F3F3F3;

  font-family: Inter, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}