* {
  box-sizing: border-box;
}

:root {
  --primary-red: #E73C17;
  --primary-red-dark: #C22900;
  --text-grey: #6F6F6F;
  --grey-light: #F3F3F3;
  --text-grey-dark: #191919;
  --grey-filter: #19191974;
  --dark-blue: #2F333A;

  --almond: #F3EEE8;
  --sienna: #A06056;
  --brown: #534B42;


  font-family: Inter, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-width {
  width: 100%;
  padding: 1.5rem 6rem;
}